*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

body {
  color: white;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
}

.container {
  max-width: 1320px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 390px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 990px;
  }
}

.hero {
  background-image: url(../img/Hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 295px;
  padding-bottom: 120px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: url(../img/hero-background-mob.jpg);
    padding-top: 195px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .hero {
    background-image: url(../img/hero-background-tab.jpg);
    padding-top: 195px;
    padding-bottom: 80px;
  }
}

.logo {
  font-family: "Josefin Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.hero .logo {
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 8px;
}

.hero_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}

.hero_form {
  position: relative;
  margin-bottom: 211px;
}

input[placeholder="Search Your Travel Destination"] {
  color: #999;
  font-family: "Josefin Sans";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2.8px;
}
@media screen and (max-width: 645px) {
  input[placeholder="Search Your Travel Destination"] {
    font-size: 0;
  }
}

.search_input {
  width: 647px;
  outline: none;
  border: none;
  background-color: white;
  padding: 20px 334px 20px 36px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 375px) {
  .search_input {
    width: 320px;
    padding: 20px 15px;
  }
}
@media screen and (max-width: 645px) {
  .search_input {
    width: 320px;
    padding: 20px 15px;
  }
}
@media screen and (max-width: 767px) {
  .search_input {
    max-width: 600px;
  }
}

.search_input:hover,
.search_input:focus {
  outline: 3px solid #5373fd;
}

.hero_button {
  background-color: #5373fd;
  color: white;
  font-family: "Aleo";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  border: none;
  padding: 20px 57px 20px 56px;
  transition: all 0.5s ease;
  font-size: 14px;
  letter-spacing: 1.4px;
  padding: 16px 24px 16px 52px;
  position: absolute;
  transform: translateX(-102%) translateY(8%);
}

.hero_button:hover {
  background-color: #3e2bb7;
}

.hero_search_svg {
  width: 16px;
  height: 16px;
  fill: white;
  margin-right: 12px;
  position: absolute;
  top: 18px;
  left: 24px;
}

.scroll_wrapper {
  position: absolute;
  left: 47%;
  bottom: 120px;
}

.scroll_text {
  font-family: "Josefin Sans";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2.8px;
  margin-bottom: 4px;
}

.scroll_down_tick {
  width: 14px;
  height: 16px;
  fill: white;
}

.scroll_down_tick:hover {
  fill: #5373fd;
}

.scroll_button {
  border: no-repeat;
  background-color: transparent;
}

.header {
  background-color: #5373fd;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 840px) {
  .header_nav {
    display: none;
  }
}

.menu-btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .menu-btn {
    display: inline-block;
  }
}

.header_wrapper,
.header_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header_list {
  gap: 40px;
}

.header_link {
  font-family: "Aleo";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.header_link:hover {
  font-size: 18px;
}

.menu_nav .header_list {
  flex-direction: column;
  padding-top: 100px;
}

.menu .header_link {
  font-family: "Aleo";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  border-bottom: 3px solid white;
  padding: 20px;
}

.menu .header_link:hover {
  color: #3e2bb7;
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 28px;
  right: 28px;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #5373fd;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.menu.active {
  transform: translateX(0);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.why_section {
  background-image: url(../img/why-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 180px;
}
@media screen and (max-width: 1250px) {
  .why_section {
    padding-bottom: 60px;
  }
}

.why_section_wrapper {
  display: flex;
  align-items: center;
  gap: 136px;
}
@media screen and (max-width: 1250px) {
  .why_section_wrapper {
    flex-direction: column;
    gap: 80px;
  }
}

.why_content {
  max-width: 648px;
  text-align: left;
}

@media screen and (max-width: 1250px) {
  .button_why_wrapper {
    text-align: center;
    margin-top: 45px;
  }
}

.why_text {
  margin-bottom: 1em;
}

.section_title {
  font-family: "Aleo";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}

.why_section .section_title {
  margin-bottom: 24px;
}

.button_why {
  background-color: #5373fd;
  color: white;
  font-family: "Aleo";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  border: none;
  padding: 20px 57px 20px 56px;
  transition: all 0.5s ease;
  margin-top: 32px;
  padding: 20px 32px;
}

.button_why:hover {
  background-color: #3e2bb7;
}

.why_img {
  width: 350px;
}
@media screen and (max-width: 360px) {
  .why_img {
    width: 320px;
  }
}

.why_photo_wrapper > .why_img {
  margin-bottom: 16px;
}
@media screen and (max-width: 1250px) {
  .why_photo_wrapper > .why_img {
    margin-bottom: 76px;
  }
}

.why_right_img {
  transform: translate(20%);
}
@media screen and (max-width: 1250px) {
  .why_right_img {
    transform: none;
  }
}

.enjoy_section {
  background-color: #333333;
  background-image: url(../img/line-bg.svg);
  background-repeat: no-repeat;
  background-position: top 27% left 49%;
  padding-top: 107px;
  padding-bottom: 60px;
  border: none;
}
@media screen and (max-width: 860px) {
  .enjoy_section {
    padding-top: 20px;
    background-image: none;
  }
}
@media screen and (max-width: 1250px) {
  .enjoy_section {
    padding-bottom: 59px;
  }
}

.enjoy_section .section_title {
  text-align: center;
}

.enjoy_flex {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 860px) {
  .enjoy_flex {
    flex-direction: column;
    gap: 40px;
  }
}

.enjoy_svg_wrapper {
  width: 424px;
  background-color: #333333;
  text-align: center;
  overflow: hidden;
}

.enjoy_svg_bg {
  width: 70px;
  height: 70px;
  background-color: #333333;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.enjoy_svg {
  width: 64px;
  height: 64px;
}

.cottage_section,
.sea_section {
  background-image: url(../img/cottage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 120px;
}

.cottage_wrapper,
.sea_wrapper {
  padding: 44px 32px;
  background: rgba(35, 35, 35, 0.9);
  max-width: 648px;
  text-align: left;
}

.sub_heading {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.heading {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.cottage_text,
.sea_text {
  max-width: 584px;
  margin-bottom: 24px;
}

.cottage_button,
.sea_button {
  background-color: #5373fd;
  color: white;
  font-family: "Aleo";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  border: none;
  padding: 20px 57px 20px 56px;
  transition: all 0.5s ease;
}

.cottage_button:hover,
.sea_button:hover {
  background-color: #3e2bb7;
}

.sea_section {
  background-image: url(../img/sea.jpg);
}

.sea_wrapper {
  margin-left: auto;
}

.feedback_section {
  background-image: url(../img/feedback-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 180px;
}

.feedback_section .section_title {
  margin-bottom: 60px;
}

.feedback_wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .feedback_wrapper {
    flex-direction: column;
    gap: 80px;
  }
}

.feedback_photo {
  max-width: 440px;
}

.feedback_content {
  background: #333;
  padding: 48px 65px 48px 60px;
  max-width: 885px;
  text-align: left;
}

.svg_quote {
  width: 20px;
  height: 20px;
}

.footer {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer_slogan {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}

.social_list {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.social_svg {
  max-width: 36px;
  height: 32px;
  fill: white;
  transition: all 0.3s ease;
}

.social_svg:hover {
  fill: #5373fd;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}